@charset "utf-8";

@import "../../../node_modules/bulma/bulma";

@keyframes fadein {
    from { opacity: 0; visibility: visible; }
    to   { opacity: 1; visibility: visible; }
}

@keyframes fadeout {
    from { opacity: 1; visibility: visible; }
    to   { opacity: 0; visibility: hidden; }
}

.fadein {
  animation: fadein 1s linear forwards;
}

.fadeout {
  animation: fadeout 1s linear forwards;
}

html.error {
  h1 {
    font-size: 4rem
  }
  h1 span.error-status {
    padding-right: 1rem
  }
}

nav.navbar.top, .navbar-menu {
  background-color: #0f4057;
  min-height: 70px;

  .navbar-item img {
    max-height: none;
    margin-right: 30px;
  }

  .navbar-item, .navbar-burger {
    color: #ffffff;
  }

  .navbar-item.is-tab.is-active {
    border-bottom-color: #dbf514;
    color: #dbf514;
  }

  .navbar-item.is-tab:focus, .navbar-item.is-tab:hover {
    border-bottom-color: #dbf514;
    color: #dbf514;
  }
}

section#app {
  margin: 20px 0;
}

#order .tabs {
  margin-bottom: 0;
  border-width: 0;
}
#order .tabs a {
  color: white;
  font-weight: bold;
  border-width: 0;
}

#order .tabs li[data-type="B"] a {
  background-color: green !important;
}
#order[data-type="B"] div.order-form {
  padding: 1em 1em 1em 1em;
  border: 3px solid green;
  background-color: lightgreen;
}

#order .tabs li[data-type="A"] a {
  background-color: deeppink !important;
}
#order[data-type="A"] div.order-form {
  padding: 1em 1em 1em 1em;
  border: 3px solid deeppink;
  background-color: lightpink;
}

button#delete-all-order .icon {
  color: red;
}

button.is-loading .icon {
  visibility: hidden;
}

.orderbook {
  .columns.head {
    font-weight: bold;
  }

  .pending-addition {
    background-color: lightsteelblue;

    button {
      visibility: hidden;
    }
  }
  .pending-deletion {
    background-color: lightyellow;

    button {
      visibility: hidden;
    }
  }

  .columns.timestamp {
    border-bottom: 1px solid lightgrey;
    color: darkgrey;
    font-size: small;
    margin-bottom: 0.3rem;
  }
}

.orderbook-bid .columns,
.orderbook-ask .columns,
.market-bid .columns,
.market-ask .columns {
  margin-top: 0;
  margin-bottom: 0;
}

.orderbook-bid .column,
.orderbook-ask .column,
.market-bid .column,
.market-ask .column {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.orderbook-bid .column,
.market-bid .column {
  @extend .has-text-right;
}
.orderbook-bid .column.price,
.market-bid .column.price {
  color: green;
}

.orderbook-ask .column,
.market-ask .colum {
  @extend .has-text-left;
}
.orderbook-ask .column.price,
.market-ask .column.price {
  color: deeppink;
}

#orderbook-ask .columns,
#market-ask .columns {
  @extend .is-flex-direction-row-reverse;
}

.market {
  .columns.head {
    font-weight: bold;
  }
}

section.section {
  padding: 1em 0 1.5em;
}

article.article {
  padding: 0 0.5em;
}

.chat_messages_div {
  background-color: #fff;
  border-radius: 4px;
  height: 250px;
  margin-bottom: 20px;
  overflow-y: auto;
  padding: 10px 10px 10px 10px;
  position: relative;
}

.chat_messages_div:after {
  background-image: url("../media/diva-exchange-600x315.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 100%;
}

#chat_message {
  width: 100%;
  resize: unset;
  border-radius: 4px;
}
.chat_accounts_ul {
  background-color: #f5f5f5;
  height: 68%;
  overflow-y: auto;
  margin: 20px 45px 5px 10px;
  border-radius: 4px;
  padding: 10px 10px 10px 10px;
}

.current_chat {
  background-color: #bfbebe;
}

.chat_accounts_ul li:not(.currentChat) {
  cursor: pointer;
}

ul.chat_accounts_ul li {
  width: 234px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  color: darkblue;
}

.my_message_li {
  color: blue;
  padding-left: 45px;
}

.incoming_message_li {
  color: grey;
  padding-right: 45px;
}

.my_message_div {
  border: 2px solid blue;
  padding: 7px;
  border-radius: 9px 9px 0 9px;
  margin: 9px;
  z-index: 27;
  position: relative;
  background: #ffffff;
}

.incoming_message_div {
  border: 2px solid grey;
  padding: 7px;
  border-radius: 9px 9px 9px 0;
  margin: 9px;
  z-index: 27;
  position: relative;
  background: #ffffff;
}

.chat_segment_title {
  font-weight: bold;
  font-size: 20px;
}

.profile_fields {
  padding: 15px;
}